@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;		
}

html {
	font-size: 16px;	
}

body {
	background-color: #000;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

h1 {
	color: #fff;
	font-weight: 300;
	margin: 0;	
	font-size: 3rem;
	text-align: center;
	line-height: 1.5em;
}

h2 {
	color: #fff;
	font-weight: 300;
	margin: 0;	
	font-size: 2rem;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 1px;
	margin-top: 15px;
	margin-bottom: 25px;
}

h3 {
	color: #fff;
	font-weight: 300;
	margin: 1rem;	
	font-size: 1.5rem;
	text-align: center;
}

p {
	color: #fff;
	font-weight: 300;
	margin: 0;	
	font-size: 1rem;
	text-align: center;
	margin: 0.2em 0;
}

a {
	text-decoration: none;
}

.container {
	width: 90%;
	max-width: 1000px;	
	margin: 0 auto 1.5em;
	overflow: hidden;
}

h2.title:after {
    content: '';
    display: block;
    background-color: #3895EA;
    height: 3px;
    width: 60px;
    margin: 15px auto;
    text-align: center;
}

/* ----- Header -----*/
header {
	background: url("../img/background-header.webp");
	background-position: center;
  background-repeat: no-repeat;  	
  max-height: 600px;
}

header .menu {
	margin: 40px 0;
	text-align: right;
}

header .menu a {
	margin: 0 20px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	padding-bottom: 9px;
	font-size: 1.2em;
}

header .menu a:hover {
	border-bottom: 2px solid #fff;
}

header .menu a:active {
	border-bottom: 2px solid #fff;
}

header .text_header {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 100px 0;
}

header .text_header .text {
	border: 3px solid rgb(255,255,255,0.8);
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 20px 30px;
}



/* ----- Main -----*/

/* ----- About -----*/

main .container {
	overflow: visible;
}

main .about {
	text-align: center;
}

main .about .photo {
	margin-top: -60px;
}

main .about .photo img {
	vertical-align: top;
	border-radius: 50%;
	border: 6px solid rgba(0,0,0,0.8);
}

main .about .text_about {
	color: #fff;
	font-weight: 300;
	font-size: 1.1em;
	line-height: 30px;
	width: 80%;
	margin: 15px auto;
}


main .about .text_about .bold {
	color: #3895ea;
}

/* ----- Projects -----*/

section#projects_menu, section#skills_menu, section#contact_menu {
    margin-top: 5rem;
}

.tab {
	padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;   
	display: flex;
  }

.tab button { 	
	border: 1px solid #f1f1f166;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	width: 100%;
	background-color: #14141E;
	color: #3895ea;
}

.tab button:hover {
	background-color: #11599C;
	color: #fff;;
}

.tab button:first-child {
    border-right: none;
}
.tab button:last-child {
    border-left: none;
}

.tabcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tab-panel-2, #tab-panel-3 {
	display: none;
}

/* Create an active/current tablink class */
button[role="tab"][aria-selected="true"] {
	background-color: #11599C;
	color: #fff;
}

.card{
	width: 30%;
	height: 28.125rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 1.5rem;	
}

.card__background{
	background-size: cover;
	background-position: center;	
	border-radius: 15px;
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition: 
	  filter 200ms linear,
	  transform 400ms linear,
	  all 400ms linear;	
	
}
  
.card:hover .card__background{
	transform: scale(1.05) translateZ(0);	
	
}


a button.btn-project {
	background-color: #00000000;
	color: #fff;
	padding: 0.5rem 0;
	border: none;
	transition: transform 400ms;	
}

a button.btn-project:after {
	content: '';
    display: block;
    background-color: #3895EA;
    height: 3px;
    width: 40px;
    margin: 5px 0;    	
}


a:hover button.btn-project {	
	transform: scale(1.1);
}

.card a button.btn-project {
	display: none;
}
.card:hover a button.btn-project {
	display: block;
	cursor: pointer;	
}
  
.tabcontent:hover > .card:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
  
.card__content {
	left: 0;
	padding: 20px;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;   
	background: linear-gradient(
		180deg,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.3) 10%,
		hsl(0, 0%, 0%) 100%
	  );        
}
  
  
.card__heading{		    
	font-size: 1.7rem;
	text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	line-height: 1.4;
	text-align: left;
	margin: 0;
}
  

/* ----- skills section styles -----*/

main .skills_container .skills {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 30px;
}

#myProgress {
	width: 400px;
	background-color: transparent;
	background-color: #959595;
  }
  
  .myBar {
	width: 1%;
	height: 5px;
	background: linear-gradient(90deg, #317cbf 0%, #d76757 100%);
  }


main .skills_container .skills .progress-bar {
	background-color: #959595;
	width: 400px;
	max-width: 85vw;
	height: 10px;
	border-radius: 5px;
	text-align: center;
}

main .skills_container .skills .progress-bar div {
	height: 10px;
	border-radius: 5px;
	width: 0%;
	background-color: #3895ea;
}

main .skills_container .skills .bar-container div span {
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #fff;
	float: right;
	margin-top: -20px;
	margin-right: -20px;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #3895EA;
	padding: 5px;
	font-weight: 700;
}

main .skills_container .skills .progress-bar .html {
	animation: html 1s linear forwards;
}

main .skills_container .skills .progress-bar .css {
	animation: css 1s linear forwards;
}

main .skills_container .skills .progress-bar .javascript {
	animation: javascript 1s linear forwards;
}

main .skills_container .skills .progress-bar .wordpress {
	animation: wordpress 1s linear forwards;
}

main .skills_container .skills .progress-bar .php {
	animation: php 1s linear forwards;
}

main .skills_container .skills .progress-bar .seo {
	animation: seo 1s linear forwards;
}

@keyframes html {
	100%{
		width: 86%;
	}
}

@keyframes css {
	100%{
		width: 80%;
	}
}

@keyframes javascript {
	100%{
		width: 50%;
	}
}

@keyframes php {
	100%{
		width: 50%;
	}
}

@keyframes wordpress {
	100%{
		width: 85%;
	}
}

@keyframes seo {
	100%{
		width: 75%;
	}
}

/* ----- skill icons section styles -----*/

main .skills_icons {
	padding: 15px 0;	
}

main .skills_icons .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

main .skills_icons .container div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}

main .skills_icons .icon {
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;		
	display: block;
	padding: 15px 0;		
	font-size: 3.5em;
	color: #3895ea;
	margin: 0 10px;
}

main .skills_icons a:hover {
	background-color: #fff;
	border: 1px solid #fff;
}

main .skills .bar-container {
	margin: 0.5rem 0;
}

main .resume .container {
	display: flex;
	justify-content: center;
}

main .resume .container button {
	display: inline-block;
	background-color: #3895ea;
	padding: 10px;
	color: #fff;
	font-size: 2em;
	width: 100%;
	border-radius: 7px;
	border: 1px solid #fff;
}

main .resume .container button:hover {
	background-color: #008080;
	cursor: pointer;
}

main .resume .container button:active {
	background-color: #008080;
	cursor: pointer;
}

/*contact styles*/

footer {
	margin-bottom: 20px;
}



footer .contact .container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
	align-items: center;
	
}

footer .contact .container .contact-icon {
	display: flex;
	flex-wrap: wrap;
}


footer .contact .container .contact-icon a {
		text-align: center;
		width: 100px;
		height: 100px;		
		padding: 15px 0;		
		font-size: 3.5em;
		color: #3895ea;
		margin: 0 10px;
}

footer .contact .container .contact-icon p {
	font-size: 0.4em;
}

footer .contact .right p {
	text-align: center;
	margin-top: 40px;
	font-size: 0.8rem;
}

footer .contact .right .attribution {    
    font-size: 0.9rem;
    text-align: center;    
    margin-top: 0.5rem;  
    font-weight: 300;  
}

footer .contact .right .attribution a {
  text-decoration: none;
  color: #3895EA;
  text-align: center;
}



/* ----- responsive styles -----*/

@media only screen and (max-width: 768px) {
  header .menu {
    text-align: center;
    margin: 40px 0;
  }

  .card {
  	width: 40%;
  }
}

@media only screen and (max-width: 600px) {
	.tab {
		flex-wrap: wrap;				
	}	
	.tab button:first-child {
		border-bottom: none;
		border-right: 1px solid #f1f1f166;
	}
	.tab button:last-child {
		border-top: none;
		border-left: 1px solid #f1f1f166;
	}
	.card {
		width: 80%;
	}

}

@media only screen and (max-width: 468px) {
  header .menu {
    text-align: center;
    margin: 40px 0;
  }

  header .menu a {
	margin: 0 5px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	padding-bottom: 9px;
	font-size: 1.4em;
 }

 header .text_header .text .name {
		font-size: 2.1em;
 }
	
  main .projects .projects_container .project {
  	width: 100%;
  }
  #myProgress {
    width: 300px;   
  }


}
