html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 70px 0;
}

.container {
    background: #fff;
    max-width: 640px;
    width: 640px;
}

@media (max-width: 881px) {
    .container {
        width: 90%;
    }
}

div#contenido {
    padding-bottom: 2.5rem;
}

header.encabezado {
    text-transform: uppercase;    
    color: #fff;    
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: 500;   
    background-color: #7f7fd9;    
}

h1.text-center {
    text-align: center;
    font-size: 1.5em;
    padding: 0 5% 0;
}

.selector {
    margin-bottom: 1.25rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 5% 0;
}

select#marca, select#year {
    padding: .75rem;
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247,250,252,var(--bg-opacity));
    text-transform: none;
    flex: 1 1 0%;
    border: none;
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    font-weight: 400;
}

form#formulario {
    padding-top: 40px;
}

form#cotizar-seguro {
    max-width: 32rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

label {
    width: 5rem;
    text-transform: uppercase;
    margin-right: .5rem;
    font-weight: 700;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.tipo-seguro {
    margin-top: 1.25rem;
    justify-content: space-around;
    display: flex;    
}

.btn {
    justify-content: center;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button {
   
    color: #fff;    
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: auto;
    font-weight: 700;
    margin-right: auto;
    border-radius: .25rem;    
    background-color: #7f7fd9;    
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #5252d8;
}

#resultado {
    max-width: 20rem;
    margin: 0 auto 40px;
}

.error {
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 10px;    
    text-align: center;
    color: #F4511E;
    margin: 2.5rem auto;
    width: 80%;
}
.correcto {
    background-color: rgb(211, 249, 187);
    border: 1px solid rgb(50, 167, 0);
    padding: 10px;    
    text-align: center;
    color: rgb(4, 150, 50);
    margin: 2.5rem auto;
    width: 80%;
}
.error p {
    margin:0;
}

#cargando {
    text-align: center;
}
#cargando img {
    display: none;
    margin: 0 auto;
}
.hidden {
    display: none;
}

.mt-10 {
    margin-top: 2.5rem;
}

#resultado div {
    border: 1px solid #26C6DA;
    text-align: center;
    padding: 0  0 20px 0;
}

#resultado div p.header {
    background-color: #26C6DA;
    margin: 0 0 10px;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.font-bold {
    font-weight: 700;
}

.font-normal {
    font-weight: 400;
}



.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #26C6DA;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

